/* Estilos generales*/

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

body{
    background-color: #F2F2F2;
}

/* Estilos cabecera*/

header{
    width: 1212px;
    height: 140px;
    background-color: #23282B;
    margin: 0px auto;   /* se centra */
}

#logotipo{
    width: 40%;
    height: 130px;
    margin: 0 auto;
    padding-top: 10px;
}

#logotipo img{
    display: block;
    width: 140px;
    float: left;
    margin-top: 20px;
}

#logotipo h1{
    display: block;
    float: left;
    margin-top: 35px;
    margin-left: 20px;
    letter-spacing: 2px;
    font-family: lighter;
    color: white;
}

/* Estilos a la barra de navegación*/

nav{
    width: 1250px;
    height: 40px;
    margin: 0 auto;
    background-color: #1227a0;
    border: 1px solid #252424;
    box-shadow: 0px 22px 22px gray;
    font-size: 15px;
    
}

nav ul{
    list-style: none;
    text-decoration: none;

}

nav ul li{
    line-height: 40px;
    float: left;
}

nav ul li a{
    display: block;
    padding-left: 15px;
    padding-right: 15px;
    color: #d1d4d6;
}

nav ul li a:hover{
    background-color: #2ba977;
    box-shadow: 0px 0px 5px #444 inset;
    color: white;
    transition: all 300ms;
}

.barra{
    width: 1250px;
    margin: 0 auto;
    
}

.esquina-izquierda{
    display: block;
    border-left: 20px solid transparent;
    border-top: 10px solid #2b2F30;
    float: left;
}

.esquina-derecha{
    display: block;
    border-right: 20px solid transparent;
    border-top: 10px solid #2b2F30;
    float: right;
}

.relleno-barra{
    display: block;
    width: 1210px;
    height: 10px;
    background: #2b2F30;
    float: left;
}

/* Estilos contenido central */
#content{
    width: 1212px;
    min-height: 1000px;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 40px;
}

.box{
    background: white;
    width: 95%;
    min-width: 1000px;
    padding-bottom: 10px;
    padding: 20px; 
    border: 1px solid #ddd;
    border-radius: 2px;
    margin: 0 auto; 
}

.box form input,
.box form label{
    display: block;
    padding: 5px;
    padding-left: 0px;
}

.box form{
    width: 40;

}

.box form input[type="text"],
.box form textarea{
    width: 30%;
    margin-bottom: 30px;
} 

.box form input[type="submit"],
.box form input[type="button"],
.box form button{
    padding: 10px;
    margin-top: 5px;
    background: blue;
    border: 1px solid #444;
    color: white;
    transition: 300ms all;
}

.box form input[type="submit"]:hover,
.box form input[type="button"]:hover,
.box form button:hover{
    cursor: pointer;
    background: rgb(10, 10, 51);
    
}


.title{
    color: #444;
    letter-spacing: 1px;
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 5px;
}

footer{
    width: 1250px;
    background-color: #1b1e1f;
    border: 1px solid #333;
    color: #d1d4d6;
    text-align: center;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0px 0px 20px gray;
}

.message,
.alert-success,
.alert { 
    padding: 20px;
    background: #82fd96;
    color:white;
    text-align: center;
    margin-bottom: 10px;
}

.alert-warning {
    background: rgb(143, 23, 23);
}

.data{
    margin: 5vh auto;
    width: 50%;
    height: 22vh;
    border: 2px solid black;
    border-radius: 10px;
    
}

.btn-warning{
    background: rgb(243, 23, 23);
}

.btn:hover {
    background: #621e1e;
    box-shadow: 0px 0px 5px #444 insert;
    color: white;
    transition: 500ms;
}

.btn {
    padding: 10px;
    background: rgb(207, 48, 48);
    color: white !important;
    border: 1px solid black;
    display: block;
    margin-top: 15px;
    width: 100px;
    text-align: center;
}


